SOLR_USERNAME = "" #Fill in if applicable
SOLR_PASSWORD = "" #Fill in if applicable
SOLR_URL = "" #  URL for Solr core. Something like http://localhost:8983/solr/blacklightcore/
CSW_URL = "" # follow this pattern http://yourgeonetworksite.com/geonetwork/srv/eng/csw-{virtual_csw_name}, if you want virtual csw support. Otherwise just a plain http://yourgeonetworksite.com/geonetwork/srv/eng/csw will work with published records
CSW_USER = "" # GeoNetwork username, needed in some cases but not all
CSW_PASSWORD = "" # GeoNetwork password, needed in some cases but not all
DEBUG = False # Set this to True if you want more detailed logging.
